<!DOCTYPE html>
<html class="no-js" lang="en">
  <%- include('../includes/head.ejs') %>
  <body class="theme-cyan">
    <%- include('../includes/navigation.ejs') %>

    <aside id="leftsidebar" class="sidebar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#dashboard"
            ><ion-icon name="home"></ion-icon>Hospital</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#user">Admin</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane stretchRight" id="dashboard">
          <div class="menu">
            <ul class="list">
              <li>
                <div class="user-info">
                  <div class="image">
                    <a href="#"
                      ><img src="/images/profile_av.jpg" alt="User"
                    /></a>
                  </div>
                  <div class="detail">
                    <h4>Dr. <%= lastname %></h4>
                    <small>ADMIN</small>
                  </div>
                </div>
              </li>
              <li class="active open">
                <a href="/"
                  ><ion-icon name="home"></ion-icon><span>Dashboard</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-toggle"
                  ><i class="zmdi zmdi-account-add"></i><span>Accountants</span>
                </a>
                <ul class="ml-menu">
                  <li><a href="/all-accountant">All Accountants</a></li>
                  <li><a href="/add-accountant">Add Accountant</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-toggle"
                  ><i class="zmdi zmdi-account-add"></i><span>Doctors</span>
                </a>
                <ul class="ml-menu">
                  <li><a href="/all-doctor">All Doctors</a></li>
                  <li><a href="/add-doctor">Add Doctor</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-toggle"
                  ><i class="zmdi zmdi-account-add"></i><span>Lab Scientists</span>
                </a>
                <ul class="ml-menu">
                  <li><a href="/all-labscientist">All Lab Scientists</a></li>
                  <li><a href="/add-labscientist">Add Lab Scientist</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-toggle"
                  ><i class="zmdi zmdi-account-add"></i><span>Nurses</span>
                </a>
                <ul class="ml-menu">
                  <li><a href="/all-nurse">All Nurses</a></li>
                  <li><a href="/add-nurse">Add Nurse</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class="menu-toggle"
                  ><i class="zmdi zmdi-account-add"></i><span>Receptionists</span>
                </a>
                <ul class="ml-menu">
                  <li><a href="/all-receptionist">All Receptionists</a></li>
                  <li><a href="/add-receptionist">Add Receptionist</a></li>
                </ul>
              </li>
              <li>
                <div class="progress-container progress-primary m-t-10">
                  <span class="progress-badge">Traffic this Month</span>
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-warning"
                      role="progressbar"
                      aria-valuenow="67"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 67%"
                    >
                      <span class="progress-value">67%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-container progress-info">
                  <span class="progress-badge">Server Load</span>
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-warning"
                      role="progressbar"
                      aria-valuenow="86"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 86%"
                    >
                      <span class="progress-value">86%</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-pane stretchLeft active" id="user">
          <div class="menu">
            <ul class="list">
              <li>
                <div class="user-info m-b-20 p-b-15">
                  <div class="image">
                    <a href="#"
                      ><img src="/images/profile_av.jpg" alt="User"
                    /></a>
                  </div>
                  <div class="detail">
                    <h4>Dr. <%= lastname %></h4>
                    <small>ADMIN</small>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <a title="facebook" href="#"
                        ><ion-icon name="logo-facebook"></ion-icon
                      ></a>
                      <a title="twitter" href="#"
                        ><ion-icon name="logo-twitter"></ion-icon
                      ></a>
                      <a title="instagram" href="#"
                        ><ion-icon name="logo-instagram"></ion-icon
                      ></a>
                    </div>
                    <div class="col-4 p-r-0">
                      <h5
                        class="number count-to m-b-5"
                        data-from="0"
                        data-to="18"
                        data-speed="2500"
                        data-fresh-interval="1200"
                      >
                        18
                      </h5>
                      <small>Exp</small>
                    </div>
                    <div class="col-4">
                      <h5
                        class="number count-to m-b-5"
                        data-from="0"
                        data-to="125"
                        data-speed="2500"
                        data-fresh-interval="1200"
                      >
                        125
                      </h5>
                      <small>Awards</small>
                    </div>
                    <div class="col-4 p-l-0">
                      <h5
                        class="number count-to m-b-5"
                        data-from="0"
                        data-to="148"
                        data-speed="2500"
                        data-fresh-interval="1200"
                      >
                        148
                      </h5>
                      <small>Clients</small>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <small class="text-muted">Location: </small>
                <p><%= address %></p>
                <hr />
                <small class="text-muted">Email address: </small>
                <p>
                  <a href="" class="__cf_email__">
                    <%= email %>
                  </a>
                </p>
                <hr />
                <small class="text-muted">Phone: </small>
                <p><%= phone %></p>
                <hr />
                <ul class="list-unstyled">
                  <li>
                    <div>Colorectal Surgery</div>
                    <div class="progress m-b-20">
                      <div
                        class="progress-bar l-blue"
                        role="progressbar"
                        aria-valuenow="89"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 89%"
                      >
                        <span class="sr-only">62% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>Endocrinology</div>
                    <div class="progress m-b-20">
                      <div
                        class="progress-bar l-green"
                        role="progressbar"
                        aria-valuenow="56"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 56%"
                      >
                        <span class="sr-only">87% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>Dermatology</div>
                    <div class="progress m-b-20">
                      <div
                        class="progress-bar l-amber"
                        role="progressbar"
                        aria-valuenow="78"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 78%"
                      >
                        <span class="sr-only">32% Complete</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>Neurophysiology</div>
                    <div class="progress m-b-20">
                      <div
                        class="progress-bar l-blush"
                        role="progressbar"
                        aria-valuenow="43"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 43%"
                      >
                        <span class="sr-only">56% Complete</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>

    <section class="content profile-page">
      <div class="block-header">
        <div class="row">
          <div class="col-lg-7 col-md-5 col-sm-12">
            <h2>
              Profile
              <small>Welcome to Hospital</small>
            </h2>
          </div>
          <div class="col-lg-5 col-md-7 col-sm-12">
            <button
             class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10"
              type="button"
            >
              <a href="/edit-nurse/<%= nurses.id %>"> <ion-icon name="pencil"></ion-icon></a>
            </button>
            <ul class="breadcrumb float-md-right">
              <li class="breadcrumb-item">
                <a href="/"><ion-icon name="home"></ion-icon> Hospital</a>
              </li>
              <li class="breadcrumb-item active">Profile</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
              <div class="body text-center">
                <div class="profile-image">
                  <img src="/<%= nurses.imageUrl %>" alt="" />
                </div>
                <div>
                  <h4 class="m-b-0"><strong>Dr. <%= nurses.lastname %></strong> <%= nurses.firstname %></h4>
                  <span class="job_post"><%= nurses.job_post %></span>
                  <p>
                    <%= nurses.address %>
                  </p>
                </div>
                <div> 
                  <form action="/delete-nurse" method="post">
                    <input type="hidden" value="<%= nurses.id %>" name="nursesId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn btn-primary btn-round btn-simple">
                      Delete Account
                    </button>
                  </form>                 
                </div>
                <p class="social-icon m-t-5 m-b-0">
                  <a title="Twitter" href="javascript:void(0);"
                    ><ion-icon name="logo-twitter"></ion-icon
                  ></a>
                  <a title="Facebook" href="javascript:void(0);"
                    ><ion-icon name="logo-facebook"></ion-icon
                  ></a>
                  <a title="Google-plus" href="javascript:void(0);"
                    ><ion-icon name="logo-google"></ion-icon
                  ></a>
                  <a title="Behance" href="javascript:void(0);"
                    ><ion-icon name="logo-behance"></ion-icon
                  ></a>
                  <a title="Instagram" href="javascript:void(0);"
                    ><ion-icon name="logo-instagram"></ion-icon
                  ></a>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="body">
                <div class="workingtime">
                  <h6>Working Time</h6>
                  <small class="text-muted">Tuesday</small>
                  <p>06:00 AM - 07:00 AM</p>
                  <hr />
                  <small class="text-muted">Thursday</small>
                  <p>06:00 AM - 07:00 AM</p>
                  <hr />
                </div>
                <div class="reviews">
                  <h6>Reviews</h6>
                  <small class="text-muted">Staff</small>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <hr />
                  <small class="text-muted">Punctuality</small>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <hr />
                  <small class="text-muted">Helpfulness</small>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </p>
                  <hr />
                  <small class="text-muted">Knowledge</small>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <hr />
                  <small class="text-muted">Cost</small>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="card">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#about"
                    >About</a
                  >
                </li>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane body active" id="about">
                  <p>
                    <%= nurses.about %>
                  </p>
                  <h6>Qualifications</h6>
                  <hr />
                  <ul class="list-unstyled">
                    <li>
                      <p>
                        <strong>Hospital Affiliations:</strong> 
                        <%= nurses.HospitalAffiliations %>
                      </p>
                    </li>
                    <li>
                      <p>
                        <strong>Nursing School:</strong> <%= nurses.NursingSchool %>
                      </p>
                    </li>
                    <li>
                      <p><strong>Residency:</strong> <%= nurses.Residency %></p>
                    </li>
                    <li>
                      <p>
                        <strong>Certifications:</strong> <%= nurses.Certifications %>
                      </p>
                    </li>
                    <li>
                      <p><strong>Gender:</strong> <%= nurses.gender %></p>
                    </li>
                    <li>
                      <p>
                        <strong>Experience / Tranining:</strong> <%= nurses.ExperienceOrTranining %>
                      </p>
                    </li>
                    <li>
                      <p><strong>Internship:</strong> <%= nurses.Internship %></p>
                    </li>
                  </ul>
                  <h6>Specialties</h6>
                  <hr />
                  <ul class="list-unstyled specialties">
                    <li><%= nurses.specialities %></li>                   
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="/assets/bundles/knob.bundle.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script>
    <script src="/assets/js/pages/charts/jquery-knob.js"></script>
    <script>
      (function () {
        var js =
          "window['__CF$cv$params']={r:'747b77697ad6d404',m:'gm9cEKQS1flrDMVJyIvsg0HVlb31_LvQDhcb4LQdxqM-1662679769-0-AYnZcClLiBV67H63LnqZKUA9FY7F5LVzGLEBDumXC+NTISIc6O9DurQLC/EktFl8WDjZ8AmUTDk7fRBPvUDfQmbWrAGrolUxBZl5LzrrlvU8bskRrTCKezzcj+NAaWTmzs0je0njuEDGGumOxY9gsxZC4jk+WWvWS6xepHVIkO6QHcYk8PbsPn3vHWDz4wiM0g==',s:[0x1882a47d33,0x4b3d896f20],u:'/cdn-cgi/challenge-platform/h/g'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/h/g/scripts/alpha/invisible5615.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";
        var _0xh = document.createElement('iframe');
        _0xh.height = 1;
        _0xh.width = 1;
        _0xh.style.position = 'absolute';
        _0xh.style.top = 0;
        _0xh.style.left = 0;
        _0xh.style.border = 'none';
        _0xh.style.visibility = 'hidden';
        document.body.appendChild(_0xh);
        function handler() {
          var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
          if (_0xi) {
            var _0xj = _0xi.createElement('script');
            _0xj.nonce = '';
            _0xj.innerHTML = js;
            _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
          }
        }
        if (document.readyState !== 'loading') {
          handler();
        } else if (window.addEventListener) {
          document.addEventListener('DOMContentLoaded', handler);
        } else {
          var prev = document.onreadystatechange || function () {};
          document.onreadystatechange = function (e) {
            prev(e);
            if (document.readyState !== 'loading') {
              document.onreadystatechange = prev;
              handler();
            }
          };
        }
      })();
    </script>
  </body>
</html>
